mat-form-field {
  width:90%;
  margin:5%;
  font-size: medium;
}

mat-label {
  font-size: small;
}


.app-input-style {
  display: inline-block;
  width:90%;
}

app-authent {
  display: inline-block;
  width:90%;
}

app-token-selector {
  display: inline-block;
  width:90%;
}
