
<mat-icon class="system_button" (click)="go_back()">chevron_left</mat-icon>

<h4>Préférences</h4>
<p>
  Certains services peuvent nécessiter
</p>

<app-input title="Une adresse de wallet" value_type="text" [value]="settings.address" (valueChange)="settings.address=$event"></app-input><br>

<app-authent network="elrond-devnet"
             [connexion]="option_connexion"
             (authent)="authent($event)"></app-authent><br>

<app-input title="La référence d'un token" value_type="text" [value]="settings.token" (valueChange)="settings.token=$event"></app-input><br>
<app-input title="Une collection" value_type="text" [value]="settings.collection" (valueChange)="settings.token=$event"></app-input><br>
<app-input title="Une quantité" value_type="number" [value]="settings.quantity" (valueChange)="settings.quantity=$event"></app-input>

<br>


